<div class="inner_img">
	<!--<img src="{{block.settings.image2 | img_url: '150x'}}" alt="">-->
	<i class="far fa-clock"></i>
</div>
<div class="inner_text">
	<h3>{{ block.settings.titleTwo }}</h3>
	<p>{{ block.settings.title2 }}</p>
</div>