<div class="inner_img">
	<!--<img src="{{block.settings.image1 | img_url: '150x'}}" alt="">-->
	<i class="fas fa-plane"></i>
</div>
<div class="inner_text">
	<h3>{{ block.settings.titleOne }}</h3>
	<p>{{ block.settings.title1 }}</p>
</div>