<div class="inner_img">
	<!--<img src="{{block.settings.image3 | img_url: '150x'}}" alt="">-->
	<i class="far fa-life-ring"></i>
</div>
<div class="inner_text">
	<h3>{{ block.settings.titleThree }}</h3>
	<p>{{ block.settings.title3 }}</p>
</div>